@model IEnumerable<Service.Mvc.Models.ZouNi>

@{
    ViewData["Title"] = "ListShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListShow</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.B)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.A">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.A">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.A">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
